input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.grad-btn {
  background: #329d9c;
  background: radial-gradient(at top left, #7be495 0%, #329d9c 100%);
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.h-100-p {
  height: 100%;
}

//registration

.v-stepper__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible !important;
}

.picture_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
}

.close_btn {
  position: absolute;
  top: 0;
  right: 0;
}

.confirm_signup, {
  .v-input {
    font-size: 1.5rem;
  }

  .v-text-field--rounded > .v-input__control > .v-input__slot {
    padding: 0;
  }

  input {
    text-align: center;
  }
}