@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$body-font-family: 'Montserrat', sans-serif;
$material-light: (
        'text':(
                'primary': #205072,
                'secondary': #2c6975
        )
);

$shadow-key-umbra-opacity: rgba(86, 197, 150, 0.7);
$shadow-key-penumbra-opacity: rgba(86, 197, 150, 0.7);
$shadow-key-ambient-opacity: rgba(86, 197, 150, 0.7);

$stepper-elevation: 0;
$stepper-step-step-width: 30px;
$stepper-step-step-min-width: 30px;
$stepper-step-step-height: 30px;
$stepper-vertical-content-ltr-margin: -8px -36px -16px 39px;
$stepper-step-step-icon-font-size: 15px;